body{
    background: #a9ebea;

}
h1{
    border: 1px solid;
    color: aqua;
}
h2{
    color: purple;
}
input{
    border: 2px rgb(159, 48, 0) solid;
}
p{
    background: rgb(250, 250, 185);
}
a{
    color: red;
    
}

#itemone{
    text-decoration: overline;
    color: purple;
}
#textblock{
    border-width: 5px;
    border-color: gray;
    border-style:solid;
    width: 800px;
    height: 400px;
}

.exit{
    background: blue;
    border: 4px yellow dashed;
}
.list{
    background-color: transparent;
}
a:visited{
    color: blue;
}