body{
    background: #7aebe9;

}
h1{
    border: 1px solid;
}
h2{
    color: purple;
}
input{
    border: 2px orangered solid;
}
p{
    background: yellow;
}
a{
    color: red;
}

#itemone{
    text-decoration: overline;
    color: purple;
}
#textblock{
    border-width: 5px;
    border-color: gray;
    border-style:solid;
}

.exit{
    background: blue;
    border: 5px yellow dashed;
}
.list{
    background-color: transparent;
}
